{% extends 'base.html' %}
{% load static %}
{%block head%}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{%endblock%}



{% block content %}
<section class="home-page">
    <section class="welcome-container" style="padding:3px">
    {% if user.is_authenticated %}
    <h1>How are you doing today?</h1>
    {% else %}
    <p>You are not logged in</p>
    {% endif %}
        <div class="floating-element"></div>
    </section>
    {% endblock %}

    {%block part %}
    <div class="message-container">
        <h1>Welcome {{user.username}}</h1>
        <h2>{{ q }} </h>
        <h3> {{ a }} </h3>
    </div>
</section>
{%endblock%}


