
.diary-table-wrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr); 
  gap: 30px; 
  width: 100%;
  padding: 20px; 
  box-sizing: border-box;
}


.diary-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); 
  box-sizing: border-box;
}


.diary-table form input,
.diary-table form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: var(--font-l);
  border-radius: 4px;
  border: 1px solid #ccc;
}


.diary-table .btn {
  align-self: flex-end;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #5bc0de;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.diary-container .btn:hover {
  background-color: #31b0d5;
}


@media (max-width: 1200px) {
  .diary-container-wrapper {
      grid-template-columns: repeat(2, 1fr); 
  }
}


@media (max-width: 768px) {
  .diary-container-wrapper {
      grid-template-columns: 1fr; 
  }
}
