{%extends 'base.html' %}
{% load static %}
{%block head %}
<link rel="stylesheet" href="{% static 'css/diary/diary-detail.css' %}" />
{% endblock %}

{% block contentone %}
{% if today %}
<h1> Diary log for {{diary.date}} </h1>
{% else %}
<h1> {{ diary.date }}</h1>
{% endif %}

<section class="diary-container">
    
    <h2> Physical</h2>
    {% if diary.physical_set.count%}
    {% for diary in diary.physical_set.all%}
    <ul class='form-container'>
        <p style:"background-color: white"> Breakfast: {{diary.breakfast}}</p>
        <p>Lunch: {{diary.lunch}}</p>
        <p>Dinner: {{diary.dinner}}</p>
        <p> Snacks: {{diary.snacks}}</p>
        <p> Area of Focus: {{diary.body_part_worked}}</p>
        <p> Time Spent: {{diary.time_spent}}</p>
        <p> Exercise: {{diary.exercise}}</p>
    </ul>
    <div class='physical-actions'>
        <a href="{% url 'physical-update' diary.id%}" class="btn warn">Edit</a>
        <a href="{% url 'physical-delete' diary.id%}" class="btn danger">Delete</a>
    {% endfor %}
    {% else %}
    <div class="subsection-content">
     
    </div>
    <form 
        method="post" 
        class="diary-table" 
        autocomplete="off"
        action="{% url 'add-physical' diary.id%}">
        {%csrf_token%}
        {{ physical_form.as_table }}
        <button type="submit" class="btn submit"> Add Physical Entry</button>
    </form>
    {% endif %}
</section>
{%endblock%}

{% block contenttwo %}
<section class="diary-container">
    <h2> Mental</h2>
    {% if diary.mental_set.count %}
    {% for diary in diary.mental_set.all%}
    <ul>
        <p>Fears: {{diary.fears}}</p>
        <p>Desires: {{diary.desires}}</p>
        <p> Meditation time: {{diary.time_spent}}</p>
        <p> Meditation:{{diary.meditation}}</p>
       
     
        
    </ul>
    <div class='mental-actions'>
        <a href="{% url 'mental-update' diary.id%}" class="btn warn">Edit</a>
        <a href="{% url 'mental-delete' diary.id%}" class="btn danger">Delete</a> 
    {% endfor %}
    {% else %}
    <div class="diary-container">
     
    </div>
    <section class="diary-container">
    <form 
        method="post" 
        class="diary-table" 
        autocomplete="off"
        action="{% url 'add-mental' diary.id%}">
        {%csrf_token%}
        {{ mental_form.as_table }}
       
        <button type="submit" class="btn submit"> Add Mental Entry</button>
    </form>
    </section>
    {% endif %}
</section>
{%endblock%}


{% block contentthree %}
<section class="diary-container emotional">
    <h2> Emotional</h2>
    {% if diary.emotional_set.count %}
    {% for diary in diary.emotional_set.all%}
    <ul>
        <p>Community: {{diary.community_check}}</p>
        <p>Time Spent: {{diary.time_spent}}</p>
        <p>Gratitude List: {{diary.gratitude_list}}</p>
        <p>Morning mood: {{diary.morning_mood}}</p>
        <p>Evening mood: {{diary.evening_mood}}</p>
        
    </ul>
    <div class='emotional-actions'>
        <a href="{% url 'emotional-update' diary.id%}" class="btn warn">Edit</a>
        <a href="{% url 'emotional-delete' diary.id%}" class="btn danger">Delete</a> 
    {% endfor %}
    {% else %}
    <div class="subsection-content">
     
    </div>
    <form 
        method="post" 
        class="diary-table" 
        autocomplete="off"
        action="{% url 'add-emotional' diary.id%}">
        {%csrf_token%}
        {{ emotional_form.as_table }}
       
        <button type="submit" class="btn submit"> Add Emotional Entry</button>
    </form>
    {% endif %}


</section>
{%endblock%}
