{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href={% static 'css/diary/diary-index.css' %}>
{% endblock %} {% block content %}

<section class="page-header">
    <h1> Your entries </h1>
</section>
<section class="card-container">
    {% for diary in diarys %}
    <div class="card">
        <a href="">
            <div class='card-content'>
                <div class="card-img-container">
                    <img
                        src="{% static 'images/diary.jpg' %}"
                        alt="A page"
                    
                    />
                </div>

            
                <h2 class="card-title"> {{ diary.date  }} </h2>
            </div>
        </a>
    </div>
    {%endfor%}
</section>
{%endblock%}